*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{

}

nav{
	background: black;
	height: 80px;
	width: 100%;
}


nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display:  inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a.active,a:hover{
	background: #1b9bff;
	transition: .5s;
}

.mainwatch{
	display: block;
	height: 500px;
	width: 100%;

}

.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 13%;
  font-size: 50px;
  padding-bottom: 15%;
  padding-right: 5%;
}



.Pone{
	width: 100%;
	text-align: center;
	line-height: 35px;
	font-family:georgia;
	padding-left: 15%;
	padding-right: 15%;

}

.aboutvideo{
	height: 350px;
	width: 100%;	
}

.about{
	width: 100%;
	text-align: center;
	line-height: 35px;
	font-family:georgia;
	padding-left: 15%;
	padding-right: 15%;

}

.about_img{
	width: 660px;
	height: 300px;
}

.products_table{
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	font-size: 15px;
	text-align: center;
}

.map{
	width: 100%;
	padding-top: 3px;
}

.contact-title{
	margin-top: 100px;
	text-transform: uppercase;
}

.contact-title h1{
	font-size: 32px;
	line-height: 45px;
	text-align: center;
}

.contact-title h2{
	text-align: center;
	font-size: 16px;
}

form{
	text-align: center;
	margin-top: 50px;
}

.form-control{
	border:none;
	outline: none;
	font-size: 18px;
}


.icons{
	line-height: 70px;
 	word-spacing: 10px;
 padding-top: 50px;

}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;

}

.cards{
	width: 20%;
	background-color:white;
	border-radius: 5px;
	display: inline-block;	
	box-shadow: 2px 2px 10px black;
	margin: 0 0 0 120px;


}

.image img{
	width: 100%;
	
	
}

.title{
	text-align: center;
}

.des{
	text-align: center;
}



